<aside class="ui dividing right rail">
  <section class="about item">
    <h3 class="about__title">
      <a class="about__github" href="{{ site.github.owner_url }}" _target="_blank">{{  site.title | default: site.github.repository_name  }} </a>
    </h3>
    <p class="about__description">{{ site.description | default: site.github.project_tagline }}</p>
  </section>

  <div class="ui divider"></div>

  <h3>最近博客</h3>
  <div class="item ui list">
    {% for post in site.posts limit:10 %}
      <a class="item" href="{{ post.url }}">{{ post.title }}</a>
    {% endfor %}
  </div>

  <div class="ui divider"></div>

  <h3>标签</h3>
  <div class="ui list">
    {% for tag in site.tags  %}
      <a class="item" href="{{site.baseurl}}/tag/{{tag[0]}}.html">{{tag[0]}}（{{tag[1].size}}）</a>
    {% endfor %}
  </div>
</aside>
