---
layout: default
---

{% if page.type == 'year' %}
  <h1 class="ui centered header">{{ page.date | date:"%Y年" }}</h1>
{% elsif page.type == 'month' %}
  <h1 class="ui centered header">{{ page.date | date:"%Y年%m月" }}</h1>
{% else %}
  <h1 class="ui centered header">{{ page.title }}</h1>
{% endif %}

<div class="ui ui vertical segment">
  {% for post in page.posts %}
  <div class="post">
    <h3 class="ui header">
      <a href="{{post.url}}">{{post.title}}</a>
      <div class="post__date">{{ post.date | date: "%Y-%m-%d" }}</div>
    </h3>
    <p>{{post.excerpt}}</p>
    <div class="ui divider"></div>
  </div>
  {% endfor %}
</div>
